$backgroundColor: #efefef;
$radius: 5%;
$color: white;

form {
  display: inline-block;
  margin: auto;
  width: 200px;
  color: $color;


  button {
    border-radius: $radius;
    background-color: #15d04d;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  button:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #15d04d;
        color: black;
        border-radius: $radius;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        &:hover , &.active{
          background: #fff;
        }
      }
      span:hover {
        box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
    }
  }
}